@font-face{
    font-family: 'F1 Regular';
    src:url(../fonts/Formula1-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'F1 Bold';
    src:url(../fonts/Formula1-Regular.otf);
    font-weight: bold;
}

@font-face{
    font-family: 'F1 Wide';
    src:url(../fonts/Formula1-Regular.otf);
}

h1{
    font-family: 'F1 Regular';
    font-weight: normal;
}

h2{
    font-family: 'F1 Bold';
    font-weight: bold;
    font-size: small;
}